<div id="comment-box">
    <a href="/users/{{username}}">{{username}}</a>
    <p>{{body}}</p>
    {{#if (eq username user)}}
        <form method="POST" action="/posts/{{../post._id}}/deletecomment">
            {{!-- Sends comment Id to deletecomment route --}}
            <input type="hidden" name="commentToDelete" id="commentToDelete" value="{{this._id}}">
            <button class="comment-delete" type="submit">Delete This Comment</button>
        </form>
    {{/if}}
</div>