<link rel="stylesheet" href="/public/css/feed.css">

<div class="feed-container">
    <h1>Feed</h1>
    <p class="feed-content">Feed content</p>

    <form action="/feed" method="POST" class="create-post-form" id="create-post">
        <label for="body">Post something: </label>
        <input type="text" name="body" id="body" placeholder="Post something">

        <label for="artist">Artist: </label>
        <input type="text" name="lastfmArtist" id="artist" placeholder="Artist">

        <label for="track">Track: </label>
        <input type="text" name="lastfmSong" id="track" placeholder="Track">

        <button type="submit" class="create-post-btn">Create Post</button>
    </form>

    <div class="post-container">
        {{#each posts}}
            <div class="post" onclick="location.href='/posts/{{this._id}}';">
                <div class="user-profile">
                    <img src="{{this.pfp}}" alt="Profile Picture" class="profile-picture">
                    <p><a href="/users/{{this.username}}" class="username-link">{{this.username}}</a></p>
                </div>
                {{!-- <p><a href="/users/{{this.username}}" class="username-link">{{this.username}}</a></p> --}}
                <p><a href="/posts/{{this._id}}" class="post-body">{{this.body}}</a></p>
                <p class="likes-count">{{this.likes.length}} Likes</p>
                <p><a href="/posts/{{this._id}}" class="comments-count">{{this.comments.length}} Comments</a></p>
            </div>
        {{/each}}
    </div>
</div>
<script src="../public/js/feed.js"></script>
