<div>
    <h1>Feed</h1>
    <p>Feed content</p>

    {{!-- ! need to fix this --}}
    <div class="error" id="errid">
    {{!-- <div class="error" id="errid" hidden> --}}
        {{error}}
    </div>

    <form action="/feed" method="POST" class="create-post" id="create-post">
        <label for="body">Post something: </label>
        <input type="text" id="body" name="body" placeholder="Post something">
        <button type="submit">Create Post</button>
    </form>

    <ul>
        {{#each posts}}
            <li><a href="/users/{{this.userId}}">{{this.userId}}</a></li>
            <li><a href="/posts/{{this._id}}">{{this.body}}</a></li>
            <li>{{this.likes}}</li>
            <li><a href="/posts/{{this._id}}">{{this.comments.length}} Comments</a></li>
        {{/each}}
    </ul>
</div>