<a href="/feed">Feed</a>
<a href="/users/{{ username }}">Profile</a>
<div>
    <h1>Feed</h1>
    <p>Feed content</p>

    {{!-- ! need to fix this --}}
    {{!-- ! This is already in main.handlebars --}}
    {{!-- <div class="error" id="errid"> --}}
    {{!-- <div class="error" id="errid" hidden> --}}
        {{!-- {{error}} --}}
    {{!-- </div> --}}

    <a href="/users/{{username}}/notifications">Notifications</a>

    {{!-- ! MAKE SURE U CAN'T POST WITH ONLY SPECIAL CHARACTERS --}}
    <form action="/feed" method="POST" class="create-post" id="create-post">
        <label for="body">Post something: </label>
        <input type="text" name="body" id="body" placeholder="Post something">

        <label for="artist">Artist: </label>
        <input type="text" name="lastfmArtist" id="artist" placeholder="Artist">

        <label for="track">Track: </label>
        <input type="text" name="lastfmSong" id="track" placeholder="Track">

        <button type="submit">Create Post</button>
    </form>

    <ul>
        {{#each posts}}
            <li><a href="/users/{{this.username}}">{{this.username}}</a></li>
            <li><a href="posts/{{this._id}}">{{this.body}}</a></li>
            <li>{{this.likes.length}} Likes</li>
            {{#each comments}}
                <li>{{this.body}}</li>
            {{/each}}
        {{/each}}
    </ul>

</div>
<script src="../public/js/feed.js"></script>