<div>
    <h1 id="name">{{username}}'s' Following</h1>
    <section>
        {{#if following}}
            <ul>
                {{#each following}}
                <li>
                    <a href="/users/{{username}}">
                        {{this.username}}
                    </a>
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No following yet</p>
        {{/if}}
    </section>
    <a href="/users/{{username}}" class="backToProfile">Go back to profile page</a>
</div>
