<link rel="stylesheet" href="../public/css/profilepage.css">

<div>
    <h1 id="name">{{username}}'s Following</h1>
    <section>
        {{#if following}}
            {{#each following}}
                <a href="/users/{{username}}">
                    {{this.username}}
                </a>
            {{/each}}
        {{else}}
            <p>No following yet</p>
        {{/if}}
    </section>
    <a href="/users/{{username}}" class="backToProfile">Go back to profile page</a>
</div>
