<link rel="stylesheet" href="../public/css/profilepage.css">

<div>
    <h1 id="name">{{username}}'s' Followers</h1>
    <section>
        {{#if followers}}
            {{#each followers}}
                <a href="/users/{{username}}">
                    {{this.username}}
                </a>
            {{/each}}
        {{else}}
            <p>No followers yet</p>
        {{/if}}
    </section>
    <a href="/users/{{username}}" class="backToProfile">Go back to profile page</a>
</div>

