<div>
    <h1>Post</h1>

    <div class="error" id="errid">
    {{!-- <div class="error" id="errid" hidden> --}}
        {{error}}
    </div>

    <div>
      <a href="/users/{{post.username}}">{{post.username}}</a>
      {{post.body}}
      <form action="/posts/{{post._id}}" method="POST" class="create-comment" id="create-comment">
        <label for="comment-body"> Make Comment: </label>
        <input type="text" id="comment-body" name="comment-body" placeholder="Reply with a Comment">
        <button type="submit">Create Comment</button>
      </form>
        <div id="show-comments">
            {{!-- Grabbed from the GET /posts/:id route --}}
            {{#each postComments}}
                <div id="comment-box">
                    <a href="/users/{{username}}">{{username}}</a>
                    <p>{{body}}</p>
                    <form method="post">
                        <input type="hidden" name="commentToDelete" id="commentToDelete" value="{{this._id}}">
                        <button type="submit">{{this.body}}</button>
                    </form>
                </div>
            {{/each}}
        </div>
    </div>
</div>