<div>
    <h1>Post</h1>

    <div>
      <a href="/users/{{post.username}}">{{post.username}}</a>
      {{post.body}}
      {{#each post.comments}}
        {{this.body}}
      {{/each}}
      {{post.likes.length}}
    </div>
</div>