<div>
    <h1>Post</h1>


    <div>
      <a href="/users/{{post.username}}">{{post.username}}</a>
      {{post.body}}
      <form action="/posts/{{post._id}}" method="POST" class="create-comment" id="create-comment">
        <label for="comment-body"> Make Comment: </label>
        <input type="text" id="comment-body" name="comment-body" placeholder="Reply with a Comment">
        <button type="submit">Create Comment</button>
      </form>
        
      <p id="likes">{{post.likes.length}} likes</p>
      {{!-- <form action="/posts/{{post._id}}/like" method="POST"> --}}
        <button type="submit" class="{{liked}}" id="likeButton">{{liked}}</button>
      {{!-- </form> --}}
      
      {{#if (eq post.username username)}}
        <form action="/users/{{post.username}}/delete" method="POST">
          <input type="hidden" name="postToDelete" id="postToDelete" value="{{post._id}}">
          <button type="submit">Delete</button>
        </form>
      {{/if}}



      <div id="show-comments">
            {{#each postComments}}
                <div id="comment-box">
                    <a href="/users/{{this.username}}">{{this.username}}</a>
                    <p>{{body}}</p>
                    {{#if (eq this.username ../username)}}
                        <form method="POST" action="/posts/{{post._id}}/deletecomment">
                            {{!-- Sends comment Id to deletecomment route --}}
                            <input type="hidden" name="commentToDelete" id="commentToDelete" value="{{this._id}}">
                            <button type="submit">Delete</button>
                        </form>
                    {{/if}}
                </div>
            {{/each}}
        </div> 
      {{!-- All of this is not working I am just writing for now --}}

      {{#if post.track}}
        <div class="track">
          <a href={{post.track.url}} target="_blank" rel="noopener noreferrer">Check out {{post.track.name}} by {{post.track.artist}}</a>
        </div>
      {{/if}}

      {{#if post.artist}}
        <div class="track">
          <a href={{post.artist.url}} target="_blank" rel="noopener noreferrer">Check out {{post.artist.name}}</a>
        </div>
      {{/if}}
    </div>
</div>