
{{!-- TODO : 
change urls to /manage, /delete
notifications for likes
display posts liked ; 
display comments 
make sure everything works from when viewing another profile
input validation
styling--}}

<link rel="stylesheet" href="../public/css/profilepage.css">

<div>
    <h1 id="name">{{username}}</h1>
    <img src="{{profilePic}}" alt="Profile Picture">

    <div class="posts">
        <h2>Posts</h2>
        {{#if posts}}
            {{#each posts}}
            <p>
                {{this.body}}
            </p>
            {{/each}}
        {{else}}
        <p>No posts yet</p>
        {{/if}}
    </div>


    <div class="likedPosts">
        <h2>Posts {{username}} liked</h2>
        {{#if likedPosts}}
            <ul>
                {{#each likedPosts}}
                <li>
                    {{this.body}} 
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No liked posts yet</p>
        {{/if}}
    </div>

    <div class="buttons">
        <div>
            {{#if isPersonalAccount}}
                <div class="manageProfile"><a href="/manage">Manage Profile Account</a></div>
                <div class="deletePost"><a href="/deleteposts" class="delete">Delete Post</a></div>
            {{else}}
                <div id="buttonContainer" class="followingButton">
                    <button type="submit" class="{{followClass}}" id="followingButton">{{followingText}}</button>
                </div>
            {{/if}}
        </div>

        <div>
            <a href="/users/{{username}}/followers" id="followers">
                {{followers.length}} Followers
            </a>
        </div>

        <div>
            <a href="/users/{{username}}/following">
                {{following.length}} Following
            </a>
        </div>

    </div>

</div>