
{{!-- TODO : 
functionality for follow/unfollow button ; 
display posts liked ; 
display comments 
make sure everything works from when viewing another profile
input validation
styling--}}


<div>
    <h1 id="name">{{username}}</h1>
    <img src="{{profilePic}}" alt="">
    <div class="manage">
        {{#if isPersonalAccount}}
            <a href="/users/{{username}}/manage" class="manage">Manage Profile Account</a>
            <a href="/users/{{username}}/delete" class="delete">Delete Post</a>
        {{else}}
            {{!-- {{#if isFollowing}}
                <button type="submit" class="unfollow" id="unfollowButton">Unfollow</button> 
            {{else}}
                <button type="submit" class="follow" id="followButton">Follow</button> 
            {{/if}} --}}
            <div id="buttonContainer">
                <button type="submit" class="{{followClass}}" id="followingButton">{{followingText}}</button>
            </div>
        {{/if}}
    </div>

    <section class="followers" >
        <a href="/users/{{username}}/followers" id="followers">
            {{followers.length}} Followers
        </a>
    </section>

    <section class="following">
        <a href="/users/{{username}}/following">
            {{following.length}} Following
        </a>
    </section>

    <section class="posts">
        <h2>Posts</h2>
        {{#if posts}}
            <ul>
                {{#each posts}}
                <li>
                    {{this.body}}
                </li>
                {{/each}}
            </ul>
        {{else}}
        <p>No posts yet</p>
        {{/if}}
    </section>

    <section class="likedPosts">
        <h2>Posts {{username}} liked</h2>
        {{#if likedPosts}}
            <ul>
                {{#each likedPosts}}
                <li>
                    {{this.body}} 
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No liked posts yet</p>
        {{/if}}
    </section>
</div>