
{{!-- TODO : 
functionality for follow/unfollow button ; 
display posts ; 
display posts liked ; 
delete posts ; 
display comments 
make sure everything works from when viewing another profile
input validation
styling--}}


<div>
    <h1>{{username}}</h1>
    <img src="{{profilePic}}" alt="">
    <div class="manage">
        {{#if isPersonalAccount}}
            <a href="/users/{{username}}/manage" class="manage">Manage Profile Account</a>
            <a href="/users/{{username}}/delete" class="delete">Delete Post</a>
        {{else}}
            {{#if isFollowing}}
                <button class="unfollow">Unfollow</button> 
            {{else}}
                <button class="follow">Follow</button> 
            {{/if}}
        {{/if}}
    </div>

    <section class="followers">
        <a href="/users/{{username}}/followers">
            {{followers.length}} Followers
        </a>
    </section>

    <section class="following">
        <a href="/users/{{username}}/following">
            {{following.length}} Following
        </a>
    </section>

    <section>
        <h2>Posts</h2>
        {{#if posts}}
            <ul>
                {{#each posts}}
                <li>
                    {{this.body}} {{!-- not sure about this --}}\
                </li>
                {{/each}}
            </ul>
        {{else}}
        <p>No posts yet</p>
        {{/if}}
    </section>

    <section>
        <h2>Posts {{username}} liked</h2>
        {{#if likedPosts}}
            <ul>
                {{#each likedPosts}}
                <li>
                    {{this.likes}} {{!-- not sure about this --}}
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No liked posts yet</p>
        {{/if}}
    </section>
</div>