
<main>
    <h1>{{username}}</h1>
    <img src="{{profilePic}}" alt="">
    {{!-- follow unfollow button --}}
    {{!-- manage profile page button if personal account --}}

    {{#if isPersonalAccount}}
        <a href="/users/{{username}}/manage">Manage Profile Account</a>
        <a href="/users/{{username}}/delete">Delete Post</a>
    {{else}}
        {{#if isFollowing}}
            <button>Unfollow</button> {{!-- add functionality to remove user from profile followers  --}}
        {{else}}
            <button>Follow</button> {{!-- add functionality to add user to profile followers  --}}
        {{/if}}
    {{/if}}

    <section>
        <a href="/users/{{username}}/followers">
            {{followers.length}} Followers
        </a>
    </section>

    <section>
        <a href="/users/{{username}}/following">
            {{following.length}} Following
        </a>
    </section>

    {{!-- following and followers should be in line or right under each other --}}

    <section>
        <h2>Posts</h2>
        {{#if posts}}
            <ul>
                {{#each posts}}
                <li>
                    {{this.body}} {{!-- not sure about this --}}\
                </li>
                {{/each}}
            </ul>
        {{else}}
        <p>No posts yet</p>
        {{/if}}
    </section>
    
    <section>
        <h2>Posts {{username}} liked</h2>
        {{#if likedPosts}}
            <ul>
                {{#each likedPosts}}
                <li>
                    {{this.likes}} {{!-- not sure about this --}}
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No liked posts yet</p>
        {{/if}}
    </section>
</main>