
{{!-- TODO : 
change urls to /manage, /delete
notifications for likes
display posts liked ; 
display comments 
make sure everything works from when viewing another profile
input validation
styling--}}

<link rel="stylesheet" href="../public/css/profilepage.css">

<div>
    <h1 id="name">{{username}}</h1>
    <img src="{{profilePic}}" alt="Profile Picture">

    <div class="posts">
        <h2>Posts</h2>
        {{#if posts}}
            {{#each posts}}
            <a href="/posts/{{this._id}}">
                {{this.body}}
            </a>
            {{/each}}
        {{else}}
        <p>No posts yet</p>
        {{/if}}
    </div>


    <div class="likedPosts">
        <h2>Posts {{username}} liked</h2>
        {{#if likedPosts}}
            <ul>
                {{#each likedPosts}}
                <li>
                    <a href="/posts/{{this._id}}">
                        {{this.body}} 
                    </a>
                </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No liked posts yet</p>
        {{/if}}
    </div>

    <div class="comments">
        <h2>{{username}} Comments</h2>
        {{#if comments}}
            {{#each comments}}
                <a href="/posts/{{this.postId}}">{{this.body}}</a>
            {{/each}}
        {{else}}
            <p>No comments yet</p>
        {{/if}}
    </div>
    
    {{#if profile.lastfm}}
    <div class="lastfm">
        <h2>Last.fm</h2>
        <p>Username: {{profile.lastfm.name}}</p>
        <p>Playcount: {{profile.lastfm.playcount}}</p>
        <p>Artist Count: {{profile.lastfm.artist_count}}</p>
        <p>Track Count: {{profile.lastfm.track_count}}</p>
        <p>Album Count: {{profile.lastfm.album_count}}</p>
        <p>Profile URL: </p>
        <a href="{{profile.lastfm.url}}" target="_blank" rel="noopener noreferrer"><img src="https://lastfm-recently-played.vercel.app/api?user={{profile.lastfm.name}}" height="auto" width="auto"/></a>
    </div>
    {{/if}}


    <div class="buttons">
        <div>
            {{#if isPersonalAccount}}
                <div class="manageProfile"><a href="/manage">Manage Profile Account</a></div>
                <div class="deletePost"><a href="/deleteposts" class="delete">Delete Post</a></div>
            {{else}}
                <div id="buttonContainer" class="followingButton">
                    <button type="submit" class="{{followClass}}" id="followingButton">{{followingText}}</button>
                </div>
            {{/if}}
        </div>

        <div>
            <a href="/users/{{username}}/followers" id="followers">
                {{followers.length}} Followers
            </a>
        </div>

        <div>
            <a href="/users/{{username}}/following">
                {{following.length}} Following
            </a>
        </div>

    </div>

</div>

<script src="/public/js/manageProfile.js"></script>
