{{!-- <div class = "error" id="errid">{{error}}</div> --}}

<link rel="stylesheet" href="/public/css/search.css">

<h1>Search: {{query}}</h1>
<p>Search for users, Posts by song, Posts by artist</p>
<form id= 'searchquery' action = "/search" method = "POST">
    <label for="searchquery"></label>
    <input class = "searchbox" type = "text" name = "searchinput" id="searchinput" placeholder = "Search here">
    <input class = "searchbtn" type = "submit" value = "Search">
</form>

<h2>Users: </h2>
<div class = "userResult">
    {{#unless similarUsers}}    
        <p>No users found</p>
    {{/unless}}
    {{#each similarUsers}}
        <div class = "searchResult">
            <img src="{{this.pfp}}" alt="pfp">
            <a href = "/users/{{this.username}}">{{this.username}}</a>
        </div>
    {{/each}}
</div>

<h2>Posts with song: </h2>
<div class = "songResult">
    {{#unless songposts}}    
        <p>No songs found</p>
    {{/unless}}
    {{#each songposts}}
        <div class = "searchResult">
            <h4>{{this.track}}</h4>
            <a href = "/posts/{{this._id}}">{{this.username}}</a>
            <p>{{this.body}}</p>
        </div>
    {{/each}}
</div>


<h2>Posts with artist: </h2>
<div class = "artistResult">
    {{#unless artistposts}}    
        <p>No artist found</p>
    {{/unless}}
    {{#each artistposts}}
        <div class = "searchResult">
            <h4>{{this.artist}}</h4>
            <a href = "/posts/{{this._id}}">{{this.username}}</a>
            <p>{{this.body}}</p>
        </div>
    {{/each}}
</div>

<script src="/public/js/search.js"></script>
